.centered {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  height: 80%; 
  z-index: 1;
}

.grid-item {
  background-color: #bababa; /* couleur de fond des carrés */
  border: 1px solid #977878; /* bordure des carrés */
}

.left_border {
  border-left: 1px solid #000;
  margin-left: -7%; /* Décale la bordure gauche */
  z-index: 2;
}

.right_border {
  border-right: 1px solid #000;
  margin-right: -7%; /* Décale la bordure droite */
  z-index: 2;
}

.top_border {
  border-top: 1px solid #000;
  margin-top: -7%; /* Décale la bordure supérieure */
  z-index: 2;
}

.bottom_border {
  border-bottom: 1px solid #000;
  margin-bottom: -7%; /* Décale la bordure inférieure */
  z-index: 2;
}

.logo {
  transform: translate(5%, 5%);
  max-width: 93%;
  max-height: 93%;
}



@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.highlight {
  animation: blink 2s infinite;
}